In [ ]:
import pandas as pd
data={

'Name':['Makram','Smith','Bravo'],
'Age':[34,45,46],
'Ctiy':['South Africa','Australia','West Indis']
}

df=pd.DataFrame(data)
df['salary']=[50000,6000,7000]   #add kora
df_filtered=df[df['Age']>45]  #filter
df=df.drop('salary',axis=1)  #drop
df['run']=[176,100,80]
df_filtered=df[df['run']>86]
print(df_filtered)



# print(df.head())    # 5 row show
# print(df.describe())   

# print(df)
# print(df_filtered)
# print(df['Name'])
# print(df.iloc[1])        #row specific

# df.to_csv('output_file.csv',index=False)

# df_read=pd.read_csv('output_file.csv')
# print(df_read)

     Name  Age          Ctiy  run
0  Makram   34  South Africa  176
1   Smith   45     Australia  100

In [120]:
import pandas as pd
df=pd.read_csv('output_file.csv')
df.head()

     Name  Age          Ctiy  salary
0  Makram   34  South Africa   50000
1   Smith   45     Australia    6000
2   Bravo   46    West Indis    7000

In [1]:
import pandas as pd
df=pd.read_csv('customers-100.csv')
df.head()
print(df.drop_duplicates().sum())


# df=df.drop('First Name',axis=1)
# print(df)

Index                                                             5050
Customer Id          DD37Cf93aecA6Dc1Ef7b82A4CAAD106F94879bDAfE5a65...
First Name           SherylPrestonRoyLindaJoannaAimeeDarrenBrettShe...
Last Name            BaxterLozanoBerryOlsenBenderDownsPeckMullenMey...
Company              Rasmussen GroupVega-GentryMurillo-PerryDomingu...
City                 East LeonardEast JimmychesterIsabelboroughBens...
Country              ChileDjiboutiAntigua and BarbudaDominican Repu...
Phone 1              229.077.51545153435776+1-539-402-0259001-808-6...
Phone 2              397.884.0519x718686-620-1820x944(496)978-3969x...
Email                zunigavanessa@smith.infovmata@colon.combeckyca...
Subscription Date    2020-08-242021-04-232020-03-252020-06-022021-0...
Website              http://www.stephenson.com/http://www.hobbs.com...
dtype: object